{% extends "base.html" %}

{% block title %}
Login - PetCare
{% endblock %}


{% block content %}

<section class="auth-section">

    <div class="auth-container">

        <div class="auth-header">

            <p class="section-small">
                WELCOME BACK
            </p>

            <h1>
                Login
            </h1>

            <p>
                Login to manage your adoption requests.
            </p>

        </div>


        <form
            method="POST"
            class="auth-form"
        >

            {% csrf_token %}


            <div class="form-group">

                <label>
                    Username
                </label>

                <input
                    type="text"
                    name="username"
                    placeholder="Enter username"
                    required
                >

            </div>


            <div class="form-group">

                <label>
                    Password
                </label>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter password"
                    required
                >

            </div>


            <button
                type="submit"
                class="primary-button full-width"
            >
                Login
            </button>

        </form>


        <p class="auth-footer">

            Don't have an account?

            <a href="{% url 'register' %}">
                Create Account
            </a>

        </p>

    </div>

</section>

{% endblock %}