{% extends "base.html" %}

{% block title %}
Register - PetCare
{% endblock %}


{% block content %}

<section class="auth-section">

    <div class="auth-container">

        <div class="auth-header">

            <p class="section-small">
                JOIN PETCARE
            </p>

            <h1>
                Create Your Account
            </h1>

            <p>
                Create an account to adopt a pet
                and manage your adoption requests.
            </p>

        </div>


        <form
            method="POST"
            class="auth-form"
        >

            {% csrf_token %}


            <div class="form-row">

                <div class="form-group">

                    <label>
                        First Name
                    </label>

                    <input
                        type="text"
                        name="first_name"
                        placeholder="First name"
                    >

                </div>


                <div class="form-group">

                    <label>
                        Last Name
                    </label>

                    <input
                        type="text"
                        name="last_name"
                        placeholder="Last name"
                    >

                </div>

            </div>


            <div class="form-group">

                <label>
                    Username *
                </label>

                <input
                    type="text"
                    name="username"
                    placeholder="Choose a username"
                    required
                >

            </div>


            <div class="form-group">

                <label>
                    Email
                </label>

                <input
                    type="email"
                    name="email"
                    placeholder="your@email.com"
                >

            </div>


            <div class="form-row">

                <div class="form-group">

                    <label>
                        Phone
                    </label>

                    <input
                        type="text"
                        name="phone"
                        placeholder="017XXXXXXXX"
                    >

                </div>


                <div class="form-group">

                    <label>
                        Location
                    </label>

                    <input
                        type="text"
                        name="location"
                        placeholder="Dhaka"
                    >

                </div>

            </div>


            <div class="form-group">

                <label>
                    Date of Birth
                </label>

                <input
                    type="date"
                    name="date_of_birth"
                >

            </div>


            <div class="form-row">

                <div class="form-group">

                    <label>
                        Password *
                    </label>

                    <input
                        type="password"
                        name="password"
                        required
                    >

                </div>


                <div class="form-group">

                    <label>
                        Confirm Password *
                    </label>

                    <input
                        type="password"
                        name="password2"
                        required
                    >

                </div>

            </div>


            <button
                type="submit"
                class="primary-button full-width"
            >
                Create Account
            </button>

        </form>


        <p class="auth-footer">

            Already have an account?

            <a href="{% url 'login' %}">
                Login
            </a>

        </p>

    </div>

</section>

{% endblock %}